body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.card {
  width: 300px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400
}

.cart {
  margin-top: 40px;
}

.collection .collection-item {
  display: flex;
}

.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;

}

.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}

.item-desc {
  align-self: center;
}

.nav {
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
}

.nav .brand-logo {
  align-self: center;
}

.nav .container {
  display: flex;
  padding: 0 3rem;
}

.nav .container .right {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
}

.nav li {
  padding: 0.2rem;
}

.container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-items.home {
  margin-top: 1rem;
}

.container-items.home .card-name, .container-items  .card-add {
  text-decoration: underline;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.card-items {
  padding: 0.5rem;
  width: 29vw;
  margin-bottom: 1.5rem;
}

.card-items img {
  width: 18vw;
}

.card-image img{
  width: 100%;
}
.container-items.home  .card-add,.container-items.home  .card-price {
  margin-bottom: 0.5rem;
}

.container-items.home .card-name, .container-items.home .card-add, .container-items.cart .card-name, .container-items.cart .card-add {
  cursor: pointer;
}

.card-add.disable {
  pointer-events: none;
    color: #9b9b9b;
}
@media only screen and (max-width: 600px) {
  .card-items {
    padding: 0.2rem;
    width: 48vw;
    margin-bottom: 1.5rem;
  }

  .card-items img {
    width: 40vw;
  }

  .container-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
  }
  .card-name, .card-add, .card-price {
    font-size: 12px;
  }
  .nav .container {
    display: flex;
    padding: 0 2vw;
  }

  .container-items.producto {
    justify-content: center;
  }
  .container-items.producto .card-name{
    font-size: 14px;
  }
 .container-items.producto  .card-name,.container-items.producto  .card-add,.container-items.producto  .card-price {
    margin-bottom: 0.5rem;
  }
}